<!DOCTYPE html>
<html>
<head>
	<title>Login without password</title>
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<div>
		<button id="login-with-extension">Login with Extension</button>
	</div>
</body>
</html>